<mat-form-field class="columns">
  <mat-label *ngIf="files; else newFile">{{
    files.item(0).name
  }}</mat-label>
  <ng-template #newFile>
    <mat-label>Choose file</mat-label>
  </ng-template>
  <input matInput disabled />
  <button mat-icon-button matSuffix (click)="fileInput.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
  <input
    hidden
    (change)="selectFile($event)"
    #fileInput
    type="file"
    id="file"
    [multiple]="multiple"
    [disabled]="disabled"
  />
</mat-form-field>
