<div class="employees-list">
  <div class="employees-list__header">
    <h1>Employees</h1>
    <span>
      <app-button
        text="Register Employee"
        color="primary"
        (click)="createEmployee()"
      ></app-button>
      <span class="divider"></span>
      <app-button
        color="accent"
        text="Import Employees"
        (click)="displayImportDialog = true"
      ></app-button>
    </span>
  </div>

  <app-table
    [cols]="cols"
    [rows]="rows | async"
    (onRowClick)="handleRowClick($event)"
  ></app-table>

  <app-dialog
    [display]="displayImportDialog"
    header="Import Employees"
    width="30%"
    (onClose)="displayImportDialog = false"
  >
    <app-file-upload [(files)]="importFile"></app-file-upload>
    <app-button
      [disabled]="!importFile?.length"
      text="Import"
      (click)="import()"
    ></app-button>
  </app-dialog>
</div>
